<form action="" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% if jobs is defined %}
    {% for job in jobs %}
        {{ job.title }}
    {% endfor %}
{% endif %}